{% extends 'base.html' %}
{% block content %}

<h1>Movies</h1>

{% for movie in movies %}
  
<div class="col s4">
  <div class="card brown darken-4">
    <div class="card-content white-text">
      <a href="{% url 'movie_detail' movie.id %}">
          <span class="card-title">{{ movie.title }}</span>
          <div class="card-image responsive-img" style="width: 18rem;">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster }}">
          </div>
      </a>
    </div>
  </div>
</div>

{% endfor %}

<h1>Shows</h1>

{% for show in shows %}

  <div class="col s4">
    <div class="card brown darken-4">
      <div class="card-content white-text">
        <a href="{% url 'show_detail' show.id %}">
            <span class="card-title">{{ show.title }}</span>
            <div class="card-image" style="width: 18rem;">
              <img src="https://image.tmdb.org/t/p/w200{{ show.poster }}">
            </div>
        </a>
      </div>
    </div>
  </div>
  
{% endfor %}

{% endblock %}