{% extends 'base.html' %}
{% block content %}

<h1>{{ title }}</h1>

<div class="col s4">
    <div class="card">
        <div class="card-content white-text">
            <div class="card-image" style="width: 18rem;">
                <img src="https://image.tmdb.org/t/p/w200{{ show.poster }}" alt="...">
            </div>
            <p>Genre: {{ show.genre }}</p>
            <p>Seasons: {{ show.season }}</p>
            <p>Overview: {{ show.description }}</p>
            <p>Your Progress: {{ show.progress }}</p>
                {% for r in show.showreview_set.all %}
                    <p>Reviews: {{ r.review }}</p>
                {% endfor %}
        </div>
        <div class="card_action">
            <a href="{% url 'shows_delete' show.id %}" class="btn">Delete</a>
            <a href="{% url 'shows_update' show.id %}" class="btn">Update</a>            
            <form action="{% url 'add_show_review' show.id %}" method="POST">
                {% csrf_token %}
                {{ review_form.as_p }}
                <input type="submit" class="btn" value="Add Review">
            </form>            
        </div>
    </div>
</div>

<script>
    const selectEl = document.getElementById('id_rating');
    M.FormSelect.init(selectEl);
  </script>

{% endblock %}